@import "tailwindcss";

@font-face {
  font-family: "Nunito-ExtraLight";
  src: url("/fonts/Nunito-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-ExtraLightItalic";
  src: url("/fonts/Nunito-ExtraLightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "GirloSP";
  src: url("/fonts/GirloSP.otf") format("opentype");
}

:root {
  --font-nunito: "Nunito-ExtraLight", sans-serif;
  --font-nunito-italic: "Nunito-ExtraLightItalic", sans-serif;
  --font-girlo: "GirloSP", sans-serif;

  --darkcyan: #485863;
}

/* 26282C
  */

.font-nunito {
  font-family: var(--font-nunito);
}

.font-nunito-light {
  font-family: var(--font-nunito-italic);
}

.font-girlo {
  font-family: var(--font-girlo);
}
