@import "tailwindcss";

@font-face {
  font-family: "Nunito-ExtraLight";
  src: url("/fonts/Nunito-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-ExtraLightItalic";
  src: url("/fonts/Nunito-ExtraLightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Leotaro";
  src: url("/fonts/Leotaro.otf") format("opentype");
}

@font-face {
  font-family: "Futurespore";
  src: url("/fonts/Futurespore.otf") format("opentype");
}

@font-face {
  font-family: "Alethia";
  src: url("/fonts/Alethia.otf") format("opentype");
}

@font-face {
  font-family: "Gogol";
  src: url("/fonts/Gogol.ttf") format("truetype");
}

@font-face {
  font-family: "American";
  src: url("/fonts/American.otf") format("opentype");
}

:root {
  --font-nunito: "Nunito-ExtraLight", sans-serif;
  --font-nunito-italic: "Nunito-ExtraLightItalic", sans-serif;
  --font-leotaro: "Leotaro", sans-serif;
  --font-futurespore: "Futurespore", sans-serif;
  --font-gogol: "Gogol", sans-serif;
  --font-american: "American", sans-serif;

  --dark: #26282c;
  --shadowed: #dbdbdb;
}

/* 26282C
  */

.font-nunito {
  font-family: var(--font-nunito);
}

.font-nunito-italic {
  font-family: var(--font-nunito-italic);
}

.font-leotaro {
  font-family: var(--font-leotaro);
}

.font-futurespore {
  font-family: var(--font-futurespore);
}

.font-gogol {
  font-family: var(--font-gogol);
}

.font-american {
  font-family: var(--font-american);
}

/* scrollbar */

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* pretty-scrollbar */

/* Для WebKit браузеров (Chrome, Safari, Edge) */
.pretty-scrollbar::-webkit-scrollbar {
  width: 1px;
}

.pretty-scrollbar::-webkit-scrollbar-track {
  background: var(--shadowed);
  border-radius: 0; /* Убираем скругления */
}

.pretty-scrollbar::-webkit-scrollbar-thumb {
  background: var(--dark);
  border-radius: 0; /* Убираем скругления */
}

.pretty-scrollbar::-webkit-scrollbar-thumb:hover {
  background: black;
}

/* Для Firefox */
@supports (-moz-appearance: none) {
  .pretty-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--dark) var(--shadowed);
  }
}

/* Для IE и старых Edge */
.pretty-scrollbar {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
